body { 
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 20px; 
    background-image: url(images/door.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

a { 
    display: block; 
    margin-top: 10px; 
    text-decoration: none;
    color: orange;
    font-size: 24px;
    margin-top: 10px;
}

p {
    color: orange;
    font-size: 18px;
}