body { 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 20px; 
    background-image: url(images/bookshelves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.book {
     margin: 20px; 
    background-image: url(images/book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.ignore {
     margin: 20px; 
    background-image: url(images/walk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: red;
    text-align: center;

    a {
        color: red;
    }
}

a { display: block; 
    margin-top: 10px;
    color: white;
    font-size: 20px; 
    text-decoration: none;
}

p {
    font-size: 24px;
}