body { 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 20px; 
    background-image: url(images/bookshelves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.book {
     margin: 20px; 
    background-image: url(images/book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.ignore {
     margin: 20px; 
    background-image: url(images/walk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: red;
    text-align: center;

    a {
        color: red;
    }
}

a { display: block; 
    margin-top: 10px;
    color: white;
    font-size: 20px; 
    text-decoration: none;
}

p {
    font-size: 24px;
}

.lost {
    body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 20px; 
    background-image: url(images/lost.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

a { 
    display: block; 
    margin: 10px; 
    text-decoration: none;
    color: rgb(249, 244, 244);
    font-size: 24px;
    margin-top: 10px;
}

p {
    color: white;
    font-size: 25px;
}

h1 {
    margin-bottom: 275px;
}
}